body {
  background-color: white;
  overflow: auto;
}

h1 {
  margin: 100 px;
  color: black;
  margin-left: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  margin-top: 100px;
}


h2 {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: white;
  margin-left: 10px;
  margin-top: 5px;
}

h6{
font-size:small;
font-family: 'Times New Roman', Times, serif;
}

.PTO_component {
  opacity:0.95;
  border: 1.5px solid black;
  display: flex;
  background-color: #f5faf5;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
p1{
  font-size: medium;
  font-weight: 500;
  margin-left: 5%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.PTO-TEXT {
  flex: 1;
}

.ATlist_Progress{
    border: 1px solid black;
    background-color: #edf6a8;
    border-radius: 2px;
    display: flex;
    overflow: auto;
}

.ATlist_not_start{
    border: 1px solid black;
    background-color: #f19897;
    border-radius: 2px;
    display: flex;
    overflow: auto;
}

.ATlist_finish{
    border: 1px solid black;
    background-color: #a6f4b8;
    border-radius: 2px;
    display: flex;
    overflow: auto;
}

.element{
  border:0.7px solid black;
  border-radius: 3px;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.2);

}


#PTO-APPROVE-button {
    margin-right: 1%;
    background-color: initial;
    background-image: linear-gradient(-180deg, #00D775, #00BD68);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 25px;
    line-height: 25px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 70%;
    z-index: 9;
    border: 0;
}

#PTO-APPROVE-button:hover {
  background: #00bd68;
}

.PTO-BUTT {
  margin-top: 15%;
  margin-right: 0%;
}

p {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: black;
  margin-left: 10px;
  margin-top: 5px;
}

.Bigbox {
  margin-top: 20px;
  /* width: 70%; */
}

.button:hover {
  color: #0a8a8a;
}

.CONT {
  margin-top: 2%;
  display: flex;
}

.PTObox {
  margin-top: 7%;
  margin-left: 5%;
  margin-right: 5%;
  width: 40%;
  flex: 1;
}

.ATbox {
  margin-top: 7%;
  margin-right: 5%;
  width: 40%;
  flex: 1;
}

.progboxed {
  border: 1px solid black;
  background-color: #005151;
  /* width: 69.89%; */
  height: 40px;
}

.titlebox {
  /* 	border: 1px solid black ; */
  margin-left: 100px;
}

.notstartboxed {
  /* width: 69.89%; */
  height: 40px;
  border: 1px solid black;
  background-color: #005151;
}

.completedboxed {
  /* width: 69.89%; */
  height: 40px;
  border: 1px solid black;
  background-color: #005151;
}

.ptoboxed {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  height: 40px;
  border: 1px solid black;
  background-color: #005151;
}

.astboxed {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  height: 40px;
  border: 1px solid black;
  background-color: #005151;
}

.proglist {
  background-color: #dedede;
  /* width: 70%; */
  height: 100px;
  overflow: auto;
}

.completedlist {
  background-color: #dedede;
  /* width: 70%; */
  height: 100px;
  overflow: auto;
}

.notstartlist {
  background-color: #dedede;
  /* width: 70%; */
  height: 100px;
  overflow: auto;
}

#PTO-DENY-button {
    margin-top: 1%;
    background-color: initial;
    background-image: linear-gradient(-180deg, #d12c2c, #d60f0f);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 25px;
    line-height: 25px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 70%;
    z-index: 9;
    border: 0;
}

#PTO-DENY-button:hover {
  background: #9c0e0e;
}

.ptolist {
  background-image: url("https://www.icims.com/wp-content/uploads/2021/03/UKG-stylized.png");
  background-color: #dedede;
  background-size:50%;
  height: 400px;
  overflow: auto;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.asstlist {
  background-color: #dedede;
  height: 400px;
  overflow: auto;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.Tester {
  background-color: pink;
  width: 70%;
  height: 100px;
}

#asst {
  margin-right: 300px;
}

#review {
  margin-left: 23%;
}

.BOX {
  width: 70%;
  height: 240px;
  position: absolute;
  left: 35%;
  top: 20%;
  margin: -100px 0 0 -100px;
  border-radius: 50px;
  border: black;
}

#lable1 {
  width: 50%;
  margin-left: 23.19%;
}

#lable2 {
  width: 50%;
  margin-left: 28.4%;
}

#lable3{
    width: 50%;
    margin-left: 21.2%;
}

#lable4{
    width: 50%;
    margin-left: 22.2%;
}

.elist {
    width: 75%;
    height: 400px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    overflow: auto;
}

.pplist{
  width: 75%;
  height: 200px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
  margin: auto;
  overflow: auto;
}

.popup {
  opacity: 0.95;
  margin-top: 8%;
}

.button-container {
  margin-top: 5%;
}

.Two {
  background-color: black;
  height: 100px;
}

.likert li {
  float: left;
  list-style-type: none;
  padding: 1px;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #30cebb;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
