body {
    background-color: white;
    overflow: auto;
}

.CONT {
    margin-top: 2%;
    display: flex;
}

.todolist {
    margin-left: 4%;
    margin-right: 2%;
    flex: 1;
}

.reqstatus {
    margin-left: 2%;
    margin-right: 4%;
    flex: 1;
}