body {
  background-color: white;
  overflow: auto;
}

h1 {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 27px;
  margin-top: 100px;
}

h2 {
  position: relative;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(211, 211, 211);
  margin-left: 10px;
  margin-top: 8px;
}

todoh3 {
  position: absolute;
  top: 0px;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
  margin-left: 200px;
  margin-top: 7px;
}

h4 {
  position: absolute;
  top: 0px;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
  margin-left: 700px;
  margin-top: 7px;
}

url {
  position: absolute;
  top: 0px;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
  margin-left: 745px;
  margin-top: 4px;
}

.BigBox {
  margin-top: 100px;
}

.TitleBox {
  margin-left: 50px;
}

.IPtitlebox {
  border: 1.5px solid black;
  background-color: #005151;
  height: 40px;
}

.Ctitlebox {
  height: 40px;
  border: 1.5px solid black;
  background-color: #005151;
}

.NStitlebox {
  height: 40px;
  border: 1.5px solid black;
  background-color: #005151;
}

.IPlist {
  position: relative;
  border: 1px solid #dedede;
  background-color: #dedede;
  height: 125px;
}

.Clist {
  position: relative;
  border: 1px solid #dedede;
  background-color: #dedede;
  height: 125px;
}

.NSlist {
  position: relative;
  border: 1px solid #dedede;
  background-color: #dedede;
  height: 125px;
}

.IPitem {
  position: relative;
  border: 1px solid #efeeee;
  background-color: #efeeee;
  height: 125px;
}

.Citem {
  position: relative;
  border: 1px solid #efeeee;
  background-color: #efeeee;
  height: 125px;
}

.NSitem {
  position: relative;
  border: 1px solid #efeeee;
  background-color: #efeeee;
  height: 125px;
}

.tododropdown {
  z-index: 1;
  position: absolute;
}

.tododropdown-content {
  display: none;

  position: relative;
  top: 25px;
  background-color: rgb(140, 140, 140);
  width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.tododropdown:hover .tododropdown-content {
  margin-left: 57px;
  margin-top: -25px;
  display: block;
  position: absolute;
}

.tododropdown:hover .tododropbtn {
  background-color: #30cebb;
  position: relative;
}

.todouser-button {
  position: absolute;
  top: 0px;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  width: 55px;
  padding: 2px;
  padding-left: 6px;
  margin-left: 2px;
  color: rgb(4, 0, 255);
  background-color: rgb(255, 255, 255);
  border: 1px solid #ff0000;
  cursor: context-menu;
}

.IPbutton {
  position: relative;
  background-color: #fff2cc;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  width: 90px;
}

.NSbutton {
  position: relative;
  background-color: #f4cccc;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  width: 90px;
}

.Cbutton {
  position: relative;
  background-color: #d9ead3;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  width: 90px;
}

.scroll-area-sm {
  height: 125px;
  overflow-x: hidden;
}

.list-group-item-IP {
  display: block;
  position: relative;
  height: 35px;
  background-color: #fff2cc;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item-NS {
  display: block;
  position: relative;
  height: 35px;
  background-color: #f4cccc;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item-C {
  display: block;
  position: relative;
  height: 35px;
  background-color: #d9ead3;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
